.hero {
  background-color: $very-light-gray;
  // height: 672px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .mockup-container {
    position: relative;
    height: 100%;
  }
  .mockup-container-inner {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .mockup {
    position: relative;
    height: 281px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 2.75rem;

    .background {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .mobile {
        width: 100%;
        transform: translateY(64px);
      }

      .desktop {
        display: none;
      }
    }

    .img {
      position: absolute;
      width: 330px;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
        width: 100%;
        image-rendering: -webkit-optimize-contrast;

        position: relative;
        bottom: -16px;
        z-index: 10;
      }
    }
  }

  .intro {
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      margin-right: auto;

      width: 480px;
    }

    h1 {
      margin: 0;
      font-size: 34px;
      line-height: 47px;
      font-weight: 300;
      color: $dark-blue;
      text-align: center;
      padding: 0 1rem;

      margin-bottom: 1rem;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: $grayish-blue;
      text-align: center;
      padding: 0 1rem;
      direction: ltr;

      margin-bottom: 2rem;
    }

    .request-btn {
      margin-bottom: 4rem;
    }
  }
}

@media screen and (min-width: 330px) {
  .hero {
    .mockup {
      .img {
        width: 342px;
      }
    }

    h1 {
      font-size: 40px;
      line-height: 47px;
    }
  }
}

@media screen and (min-width: 360px) {
  .hero {
    .mockup {
      .background {
        .mobile {
          transform: translateY(70px);
        }
      }
    }
  }
}
@media screen and (min-width: 376px) {
  .hero {
    .mockup {
      height: 320px;

      .img {
        width: 386px;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .hero {
    .mockup {
      height: 350px;

      .background {
        .mobile {
          transform: translateY(90px);
        }
      }

      .img {
        width: 420px;
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .hero {
    .mockup {
      height: 385px;

      .background {
        .mobile {
          transform: translateY(100px);
        }
      }

      .img {
        width: 460px;
      }
    }
  }
}

@media screen and (min-width: 620px) {
  .hero {
    .mockup {
      height: 430px;

      .background {
        .mobile {
          transform: translateY(110px);
        }
      }

      .img {
        width: 514px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    direction: rtl;
    height: 474px;

    .mockup-container-inner {
      height: 560px;
      width: 500px;
      overflow-x: hidden;
    }

    .mockup {
      width: 308px;
      height: 560px;
      position: absolute;
      justify-content: flex-start;

      // height: 100%;

      .background {
        height: 430px;
        // width: 80%;
        justify-content: flex-start;

        .mobile {
          display: none;
        }
        .desktop {
          display: block;
          width: 300px;
          transform: scale(1.6);
        }
      }

      .img {
        height: 430px;
        // width: 80%;
        align-items: center;
        width: 100%;

        img {
          transform: scale(1.6) translateX(20px);
        }
        // display: none;
      }
    }

    .intro {
      padding: 0 80px;
      align-items: flex-end;

      h1,
      p {
        text-align: left;
        padding: 0;
      }

      .request-btn {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1168px) {
  .hero {
    height: 656px;
    grid-template-columns: repeat(2, 50%);

    .intro {
      padding-right: 0;

      h1 {
        font-size: 56px;
        line-height: 63px;

        margin-bottom: 26px;
      }

      p {
        font-size: 19px;
        line-height: 28px;

        margin-bottom: 35px;
      }
    }

    .mockup-container-inner {
      height: 1200px;
      width: 100%;
    }

    .mockup {
      .background {
        .desktop {
          transform: scale(3) translateX(-8px) translateY(74px);
        }
      }
      .img {
        img {
          transform: scale(2.5) translateX(30px) translateY(20px);
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    .intro {
      padding: 0 0 0 120px;
    }

    .mockup {
      .background {
        .desktop {
          transform: scale(3) translateX(-30px) translateY(74px);
        }
      }
      .img {
        img {
          transform: scale(2.5) translateX(10px) translateY(30px);
        }
      }
    }
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    grid-template-columns: 55% 45%;

    .intro {
      padding: 0 0 0 120px;
    }

    .mockup {
      .background {
        .desktop {
          transform: scale(4.2) translateX(6px) translateY(32px);
        }
      }
      .img {
        img {
          transform: scale(2.5) translateX(-18px) translateY(50px);
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero {
    .intro {
      padding: 0 0 0 164px;
    }
  }
}
